<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crown Clothing</title>
    <!-- 正確連結CSS檔案 -->
    <link rel="stylesheet" href="/shop/css/style.css" />
  </head>
  <body>
    <!-- 顯示傳入的變數 -->
    <div style="text-align: center; margin-top: 2rem">
      <h1><%= title %></h1>
      <h3 style="margin-top: 0.5rem"><%= name %>, <%= id %></h3>
    </div>

    <!-- 商品展示區域 -->
    <div class="shop-page">
      <div class="collection-page">
        <h1 class="title">Mens</h1>
        <div class="items">
          <div class="collection-item">
            <img class="image" src="https://i.ibb.co/xJS0T3Y/camo-vest.png" />
            <div class="collection-footer">
              <span class="name">Camo Down Vest</span>
              <span class="price">325</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img
              class="image"
              src="https://i.ibb.co/qMQ75QZ/floral-shirt.png"
            />
            <div class="collection-footer">
              <span class="name">Floral T-shirt</span>
              <span class="price">20</span>
            </div>
            <button class="custom-button">Add to Card</button>
          </div>
          <div class="collection-item">
            <img class="image" src="https://i.ibb.co/55z32tw/long-sleeve.png" />
            <div class="collection-footer">
              <span class="name">Black & White Longsleeve</span>
              <span class="price">25</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img class="image" src="https://i.ibb.co/RvwnBL8/pink-shirt.png" />
            <div class="collection-footer">
              <span class="name">Pink T-shirt </span>
              <span class="price">25</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img
              class="image"
              src="https://i.ibb.co/VpW4x5t/roll-up-jean-shirt.png"
            />
            <div class="collection-footer">
              <span class="name">Jean Long Sleeve</span>
              <span class="price">40</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img
              class="image"
              src="https://i.ibb.co/mh3VM1f/polka-dot-shirt.png"
            />
            <div class="collection-footer">
              <span class="name">Burgundy T-shirt</span>
              <span class="price">25</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
