<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crown Clothing</title>
    <!-- 正確連結CSS檔案 -->
    <link rel="stylesheet" href="/shop/css/style.css" />
  </head>
  <body>
    <!-- 顯示傳入的變數 -->
    <div style="text-align: center; margin-top: 2rem">
      <h1><%= title %></h1>
      <h3 style="margin-top: 0.5rem"><%= name %>, <%= id %></h3>
    </div>

    <!-- 商品展示區域 -->
    <div class="shop-page">
      <div class="collection-page">
        <h1 class="title">Sneakers</h1>
        <div class="items">
          <div class="collection-item">
            <img class="image" src="https://i.ibb.co/0s3pdnc/adidas-nmd.png" />
            <div class="collection-footer">
              <span class="name">Adidas NMD</span>
              <span class="price">220</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img class="image" src="https://i.ibb.co/dJbG1cT/yeezy.png" />
            <div class="collection-footer">
              <span class="name">Adidas Yeezy</span>
              <span class="price">280</span>
            </div>
            <button class="custom-button">Add to Card</button>
          </div>
          <div class="collection-item">
            <img
              class="image"
              src="https://i.ibb.co/bPmVXyP/black-converse.png"
            />
            <div class="collection-footer">
              <span class="name">Black Converse</span>
              <span class="price">110</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img
              class="image"
              src="https://i.ibb.co/1RcFPk0/white-nike-high-tops.png"
            />
            <div class="collection-footer">
              <span class="name">Nike White AirForce</span>
              <span class="price">160</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img class="image" src="https://i.ibb.co/QcvzydB/nikes-red.png" />
            <div class="collection-footer">
              <span class="name">Nike Brown High Tops</span>
              <span class="price">160</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img class="image" src="https://i.ibb.co/w4k6Ws9/nike-funky.png" />
            <div class="collection-footer">
              <span class="name">Air Jordan Limited</span>
              <span class="price">190</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img class="image" src="https://i.ibb.co/Mhh6wBg/timberlands.png" />
            <div class="collection-footer">
              <span class="name">Timberlands</span>
              <span class="price">200</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img class="image" src="https://i.ibb.co/1f2nWMM/wolf-cap.png" />
            <div class="collection-footer">
              <span class="name">Wolf Cap</span>
              <span class="price">14</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
          <div class="collection-item">
            <img
              class="image"
              src="https://i.ibb.co/X2VJP2W/blue-snapback.png"
            />
            <div class="collection-footer">
              <span class="name">Blue Snapback</span>
              <span class="price">16</span>
            </div>
            <button class="custom-button">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
